* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 10px 0 0 0;
}

.container {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    justify-content: center;
}

.main-block {
    margin: 0 10px;
    color: rgb(44, 44, 44);
    padding: 24px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

.content-block {
    margin: 10px;
    padding: 24px;
    color: black;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.main-panel {
    flex: 2;
}

.content-panel {
    flex: 5;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.title {
    font-size: 4rem;
    padding: 12px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgb(98, 98, 245);;
}

.title > * {
    margin: 0;
    padding: 0 5px;
}

.dropdown {
    display: none;
    position: absolute;
}

.dropdown-block {
    padding: 20px;
    width: 8%;
    color: rgb(44, 44, 44);
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
}

.navbar-item:hover {
    text-decoration: underline;
    color: rgb(98, 98, 245);
}

.navbar-item {
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-item:hover .dropdown {
    display: block;
    
}